.not-found {
    margin: 55px 0;
}
.not-found__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  
    .not-found__title {
      display: block;
      margin-bottom: 35px;
      font-size: 55px;
    }
  